---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
---
<Layout title="About">
    <!-- <div class="prose prose-xl" > -->
    <AboutMe />
    <!-- </div> -->
</Layout>

<!-- <style>

    h1 {
        color: white;
    }

</style> -->