---
import { getCollection } from 'astro:content';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('posts');
---

<Layout title="Leonard Chiu's Blog">
    <Main>
        <H1 text="Latest Blog" />
        {posts.map(post => (
            <div>
                <a href={`/posts/${post.slug}`}>
                    <h2>{post.data.title}</h2>
                </a>
            </div>
        ))}
    </Main>
</Layout>