---
// Optional: Import other components or define props here.
---

<section class="bg-white w-full flex justify-center py-8">
  <div class="max-w-screen-lg px-8 space-y-6">

    <h1 class="text-4xl font-bold border-b pb-2">Introduction</h1>

    <div>
      <h2 class="text-3xl font-semibold mb-4">What is this site about?</h2>
      <p class="text-gray-700 leading-relaxed text-xl">
        I provide information about how Singapore's SME sector is being impacted by digitalization on this website. Many of the challenges they encountered and the products on the market that can solve them. I also shared my insights and provided helpful advice on how to approach your company's digitalization process.
      </p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mb-4">Digitalisation challenges faced by Small Medium Enterprises (SME) in Singapore</h2>
      <p class="text-gray-700 leading-relaxed text-xl">
        Businesses classified as SMEs in Singapore are those with a yearly revenue of less than S$100 million or with fewer than 200 workers. I divide small businesses into two categories: those with revenues between $10 and $50 million, and those with revenues under $10 million. Many of these tiny and micro businesses are family-run and operate in highly lucrative specialized sectors. Due to the difficulty of finding internally skilled employees to handle their digitalization process, these businesses often find it difficult to begin the digitalization process. Professional software engineers today have several options due to the strong demand for their services. Due to the necessity for technological innovation, these individuals are in high demand from both large tech corporations and government organizations. The majority of these small and micro businesses rely on off-the-shelf items and are unwilling to adopt more cutting-edge technologies because they lack the knowledge necessary to assess and defend the cost of digitalization. Due to this barrier, these businesses are falling behind in the race to grow.
      </p>
    </div>

    <div>
      <h2 class="text-2xl font-semibold mb-4">Purpose and Mission</h2>
      <p class="text-gray-700 leading-relaxed text-xl">
        In the course of my job, I see several SMEs that are caught in the aforementioned vicious cycle, aware of the value of digitalization but unable to advance due to numerous barriers. However, many stumbled and put a stop to their digitalization operations under the false notion that digitalization was exclusively for medium or large organizations. Some more adventurous SME CEOs persisted, others succeeded, and some benefited significantly. I'm hoping to share more here and aid the development of these businesses.
      </p>
    </div>

  </div>
</section>
